body {
    background-color: gray; 
}

h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font: 500;
    margin: auto
}

table {
    width: 75%;
    margin: auto
}

Account_Total {
	text-align: right;
}