body {
    background-color: #fff; 
}

h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font: 500;
	display: block;
    margin: auto;
	text-align: center;
	padding: 50px;
}

table {
    width: 75%;
    margin: auto;
	border: 1px #2F2F2F solid;
}
th {
	border: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font: 300;
	font-size: 1.2em;
}
tr td {
	border: 1px solid #E4BAD5;
}

tr td:last-child {
	text-align: right;
	color: red;
	
}