body {
    background-color: #F1F1F1; 
}

h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font: 500;
	display: block;
    margin: auto;
	text-align: center;
	padding: 50px;
}

table {
    width: 75%;
    margin: auto;
}
th {
	border: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font: 300;
	font-size: 1.2em;
}
td {
	border: 1px solid #E4BAD5;
	
}
.table {
	border: 1px solid #FF0004;
}
