body {
    background-color: #fff; 
}

h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font: 500;
	display: block;
    margin: auto;
	text-align: center;
	padding: 50px;
}

img {
	display: block;
    width: 25%;
    margin: auto;
}

.container {
	margin: auto;
	border: 1px solid #014B7C;
	padding: 25px;
}

p {
	font-size: 1em;
}