@charset "UTF-8";
/* CSS Document */

products {
	background: #D8D8D8;
	width: 75%;
	margin: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	margin-top: 30px;
}

prod {
	padding: 30px;
}

details{
	display: block;
}

short_desc {
	font-size: 2em;
	display: block;
}

long_desc {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.7em;
	display: block;
}

quantity {
	font-weight: 800;
	font-size: 1.6em;
	display: block;
}

unit_price {
	display: block;
	font-size: 2em;
	color: #BC0003;
}
color {
	display: block;
	font-size: 1em;
}

loc {
	display: block;
	font-size: 0.8em;
	padding-bottom: 10px;
	border-bottom: 1px solid #303030;
}

