@charset "UTF-8";
/* CSS Document */

member {
	background: #fff;
	width: 75%;
	margin: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	margin-top: 30px;
}

name {

	font-weight: 800;
	font-size: 2.5em;
	display: block;
	padding:1.5rem;
	color: #F2E74B;
	background: #010440;
	margin-bottom: 10px;
}

age{
	font-weight: 800;
	font-size: 1.8em;
	display: block;
	padding-bottom: 10px;
	color: #020873;
}

job {
	display: block;
	font-size: 1.6em;
	padding-bottom: 10px;
	color: #020873;
}

date {
	display: block;
	font-size: 1.4em;
	padding-bottom: 10px;
	color: #020873;
}


phone {
	display: block;
	font-size: 1.2em;
	color: #040FD9;
	padding-bottom: 10px;
	border-bottom: 1px solid #303030;
}

