@charset "UTF-8";
/* CSS Document */


@namespace url("http://www.gov.org/west");
@namespace east url("http://www.gov.org/east");

state {
	display: block;
	background: #40C2E9;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	padding:1.5rem;
	margin: 10px;
}

name{
	font-weight: 800;
	font-size: 1.8em;
	display: block;
	color: #FF282C;
}

capital {
	display: block;
	font-size: 1.6em;
	padding-bottom: 10px;
	color: #DF6800;
}

east|state {

	font-weight: 800;
	font-size: 1.5em;
	display: block;
	padding:1.5rem;
	background: #F2E74B;
	margin: 10px;
}

east|name {
	display: block;
	font-size: 1.4em;
	padding-bottom: 10px;
	color: #020873;
}


east|capital {
	display: block;
	font-size: 1.2em;
	color: #040FD9;
	padding-bottom: 10px;
}

