:root {
	--primary-color: #26BFBF;
	--secondary-color: #F23535;
	--comp1-color:#F25252;
	--comp2-color:#F29191;
	--comp3-color:#F2F2F2;
	--headerText-color: #ffffff;
	--bodyText-color: #000000;
}

	body, h1, h2, h3, p, img, ul, li{
		border:0; margin:0; padding:0;
	}
		/*the above is a very basic reset rule.  Every browser has a slightly different default for HTML tags.  By using this simple CSS reset, all the more glaring styles 
		are reset and can now be set to whatever properties that would suit your website best. */
	
	h1, h2, h3 {
		color: var(--headerText-color)
	}
	h1 {
		font-size:1.5rem;
	}
	h2 {
		font-size:1rem;
	}
	h3 {
		font-size:0.8rem;
	}
	a {
		color: var(--primary-color);
		text-decoration: none;
	}
	ul {
		list-style: none;
	}
	body{
		background: var(--comp3-color);	/* a light gray background color. */
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		font-size:100%; /* all normal text on the web page has a base font size of 14px now */
	}
	p{
		letter-spacing:.04em; /* letter spacing sets the horizontal spacing (kerning) between letters in a block of text. */
		line-height:1.2rem; /* line height sets the vertical spacing between lines of text. */
		color: var(--bodyText-color);
		font-size: 0.9rem;
		font-weight: 100;
	}
	header{
		background-color: var(--primary-color); /* a more specific way to set a background color */
		/* background-image:url("hw2headerbkgd.webp"); sets a background image in the header and the position it should sit 
		background-repeat:no-repeat; sets a background image to repeat, repeat-x, repeat-y or not at all as written in this rule 
		background-position:left bottom; sets a background image position */
		color:#fff;	/* sets the the color of all header text to white */
		margin: 0;
		padding: 0;
		z-index: 99;
	}
	header h1 {
		padding: 2.8rem 1.5rem 1.5rem 1.5rem;
	}
	header h2 {
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		font-weight: 100;
		padding: 0 1.5rem 1.5rem 1.5rem;
	}	
	#wrapper {
		display:flex;
		flex-direction: column;
	}
	nav {
    	margin: 0;
    	padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items:center;
		background-image: url("hw2headerbkgd.webp");
		background-repeat: no-repeat;
		background-position:center;
		background-size:contain;
	}
	nav h1 {
		font-size: 1.6rem;
		padding: 2rem 5rem 2rem 1rem;
		flex-grow: 1;
	}
	nav h2 {
		font-size: 1rem;
		text-align: right;
		padding: 1rem 1.5rem 1rem 0;
		color: var(--bodyText-color);
		background-color: var(--comp3-color);
		border-bottom: 0.5px solid var(--bodyText-color);
		width: 100%;
		flex-grow: 1;
	}
	nav ul {
    	display: flex;
    	flex-direction: row;
    	list-style-type: none;
		flex-grow: 0;
    	padding: 0;
    	margin: 0;
	}
	nav li {
		display: block;
	}
	nav li:last-child {
  		border-bottom: none;
	}
	nav a {
		color: var(--headerText-color);
  		display: block;
  		padding: 0.8rem 1.5rem;
  		text-transform: uppercase;
  		text-decoration: none;
	}
	nav a:hover {
		border-left: 2px solid var(--comp3-color);
	}
	.main {
		min-height: calc(100vh - 69px - 145.5px);
		background-color: var(--headerText-color);
	}
	.content{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-flow: row wrap;
		padding-bottom: 10px;
		margin-bottom: 10px;
		background-color: var(--headerText-color);
	}
	.content h1 {
		text-align:center;
		font-size: 2rem;
		padding: 2rem 0.4rem;
		font-variant: small-caps;
		background-color: var(--secondary-color);
	}
	.content h3 {
		padding: 1.2rem 0.5rem 0 0.9rem;
		color: var(--secondary-color);
		font-size: 1.1rem;
	} 
	.content p {
		font-size: 1.1rem;
		padding: 1rem 1rem 0 1rem;
	}
	.content picture {
		width: 100%;
		height: 100%;
		display: flex;
		padding: 0;
		margin: 10px;
	}
	.content picture img {
		object-fit: cover; 
    	height: auto;
    	width:100%;
		padding: 0;
	}
	.divider {
		border-bottom: 0.5px solid var(--bodyText-color);
		margin: 1rem auto;
		width: 200px;
	}
	.sidebar-left {
		min-height: 10vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-color: var(--headerText-color); 
	}
	.sidebar-left h3 {
		text-align: left;
		border: none;
		background-color: var(--comp2-color);
		padding: 0.8rem 1rem;
		color: var(--headerText-color);
		font-size: 1.1rem;
		font-family: inherit;
		flex-grow: 0;
	}
	.tabcontent {
		display: block;
	}
	#list{
		padding: 0;
		text-align: center;
		flex-grow: 1;
	}
	.list li{
		padding: 1.5rem 0;
		margin: 0;
	}
	.list li a{
		text-transform:uppercase;	/* this makes all anchor classes with .list uppercase  */
		font-weight: 600;
		position: relative;
		z-index: 1;
		display: inline-flex;
		padding-left: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
	}
	.list li a::before {
		content: "";
		width: 100%;
		height: 100%;
	background-image: -webkit-linear-gradient(bottom, #fed330 25%, rgba(0, 0, 0, 0) 40%);
	background-image: -o-linear-gradient(bottom, #fed330 25%, rgba(0, 0, 0, 0) 40%);
	background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);
		position: absolute;
		left: 0;
		bottom: 2px;
		z-index: -1;
		will-change: width;
		transform: rotate(-2deg);
		transform-origin: left bottom
	}
	.list li a:hover::before {
		width: 0;
	}
	.list li a::before {
		transition: width .1s ease-out;
	}
	.list li a:hover::before {
		transition-duration: .15s;
	}
	.tab button {
		display: none;
	}
	#news {
		padding-bottom: 1rem;
		flex-grow: 1;
	}
	#news p {
		font-size: 0.9rem;
		padding: 1rem 1.5rem;	
	}
	#news p span {
		color: var(--primary-color);
		font-weight: 700;
	}	
	footer{
		position:relative;
		background-color: var(--secondary-color);
		text-align:center;
		width: 100%;
	}
	footer p {
		color: var(--headerText-color);
		font-variant: small-caps;
		padding: 25px 10px;
		margin: auto;
		font-weight: 700;
}
