@charset "UTF-8";
/* CSS Document */


.display {
	text-align: center;
}


#map {
        height: 55vh;
		  width: 100%
      }

#pincontent {
	color: #FF9E00;
}


.accordion .title .header h3 .info {
	float: right;
}

#infopad {
	margin-right:10px;
	margin-bottom:10px;
}

#latlong {
	margin-bottom: 16px;
}

.extrastyles p {
	margin-top: 10px; 
}


/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {

html {max-width: 481px !important;
	margin: auto;
}

}