@charset "UTF-8";
/* CSS Document */

 .main_container {
    margin-top: 3em;
  }
.display {
	text-align: center;
}

#map {
        height: 85vh;
		  width: 100%
      }

#pincontent {
	color: #FF9E00;
}
#locationFound {
	color: #C5093C;
	padding: 5px;
}