@charset "UTF-8";
/* CSS Document */

#results {
	color:rgba(36,36,36,1.00);
	border: thin rgba(0,0,0,1.00);
	border-radius: 8px;
	font-size: 1.5rem;
	font-weight: 300;
	padding: 10px;
	margin: 10px;
	margin-bottom: -30px;
	display: none;
}


#results p {
	text-align: center;
	color: red;
	font-size: 1.2rem;
	font-weight: 500;
	background-color: yellow;
	padding: 10px;
	margin-top: -10px;
	margin-bottom: -20px;
}

#ins {
	display: none;
}

.container h1 {
	padding: 16px;
}